<% if (oembed && oembed.thumbnail_url) { %>
<div class="photo">
    <img src="<%= oembed.thumbnail_url %>" width="<%= oembed.thumbnail_width %>" height="<%= oembed.thumbnail_height %>" />
    <span class="who">@<%= from_user %></span>
    <%= text_only %>
</div>
<% } %>